.navbar {
    color: #75704E;
    height: 92px;
    background-color: white;
    position: absolute;
    z-index: 500;
    border-bottom: 12px solid #A7CECB;
    width: 100vw;
    display: flex;

  }

  .logo{
    max-width: 92px;
  
  }

  .container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

  }
  .nav-link {
    font-weight: 550;
    cursor: pointer;
    
  }
  
  .nav-content {
    max-width: 100vw;
    display: flex;
    cursor: pointer;
    align-items: center;
  }


  