.navbar {
    color: #75704E;
    height: 92px;
    background-color: white;
    position: fixed;
    z-index: 500;
    border-bottom: 12px solid #A7CECB;
    width: 100vw;
    display: flex;

  }

  .logo{
    max-width: 92px;
  
  }

  .container {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    float: right;

  }
  .nav-link {
    font-weight: 550;
    cursor: pointer;
  }
  
  .nav-content {
    max-width: 100vw;
    display: flex;
    cursor: pointer;
    align-items: center;

  }


  